node_modules
vendor
.idea
.vscode
.env
*.pyc
.DS_Store
MySQL/data/*
4_web_front/dist
.nuxt
2_dust_manager/libs
2_dust_manager/external_libs
2_dust_manager/SmartMeshSDK
2_dust_manager/VManagerSDK
2_dust_manager/.python-version
1_rpi/dn_*.c
1_rpi/sm_clib
1_rpi/sm_qsl